
@{
    Layout = null;
    ViewData["Title"] = "MyView";
}
<!DOCTYPE html>
<html>
    <head>
        <title>index</title>
    </head>
    <body>
        <h2>
            @ViewBag.Greating World
        </h2>
        <a asp-action="InviteForm">Invite form</a>
    </body>
</html>


