
@{
    
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <style>
        .content {
            padding: 20px;
            border: solid grey 1px;
            font-size: 20pt;
        }
    </style>
</head>
<body>
    <h1>Information</h1>
    <div class="content">
        @RenderBody()
    </div>
</body>
</html>

