@model IEnumerable<string>
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>
    <ul>
    @foreach(string s in Model)
    {
        <li>@s</li>
    }
    </ul>
</body>
</html>

