# Temp files #
##############
*.pyc
*.pot
*~
__pycache__

# Project specific #
####################
.env
pip-log.txt
settings_local.py
config_local.py
downloads

# Logs and databases #
######################
*.log
logs/*.log.*
*.sql
*.sqlite
*.sqlite3
*.db

# IDE #
.idea
projectFilesBackup
*.iml